# Simple workflow for deploying static content to GitHub Pages
name: Deploy a playground

on:
   # Runs on pushes targeting the default branch
   push:
      branches: ["main"]

   # Allows you to run this workflow manually from the Actions tab
   workflow_dispatch:

# Sets the GITHUB_TOKEN permissions to allow deployment to GitHub Pages
permissions:
   contents: read
   pages: write
   id-token: write

# Allow one concurrent deployment
concurrency:
   group: pages
   cancel-in-progress: true

env:
   VITE_BASE: /${{ github.event.repository.name }}/

jobs:
   # Single deploy job since we're just deploying
   deploy-playground:
      environment:
         name: github-pages
         url: ${{ steps.deployment.outputs.page_url }}
      runs-on: ubuntu-latest
      steps:
         - name: Checkout
           uses: actions/checkout@v5
           with:
              fetch-depth: 0

         - name: Install pnpm
           uses: pnpm/action-setup@v4

         - name: Set up Node
           uses: actions/setup-node@v5
           with:
              node-version: lts/*
              registry-url: https://registry.npmjs.org/
              cache: pnpm

         - run: npm i -g npm@latest

         - name: Install dependencies
           run: pnpm install

         - name: Build
           run: pnpm build:playground

         - name: Setup Pages
           uses: actions/configure-pages@v5

         - name: Upload artifact
           uses: actions/upload-pages-artifact@v4
           with:
              # Upload dist folder
              path: ./playground/dist

         - name: Deploy to GitHub Pages
           id: deployment
           uses: actions/deploy-pages@v4
